# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos de ambiente
.env

# Arquivos gerados pelo Databricks localmente (se aplicável)
.databricks/